{% extends "base.html" %}
{% set active_page = "contact" %}

{% block title %}{{ _("İletişim") }}{% endblock %}

{% block body %}
<img class="page-image" src="{{ url_for('static', filename='images/contact.jpeg') }}" alt="page-image">

<div class="container section">
    <h1 class="subtitle is-3 has-text-centered">{{ _("İletişim") }}</h1>
    <div class="columns">
        <div class="column">
            {% if config.get("GOOGLE_MAPS_API_KEY") %}
            <iframe width="800" height="450" style="border:0" loading="lazy" allowfullscreen
                referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key={{API_KEY}}
            &q=AND Pastel T3 Blok K: 18 D:160 Kartal / İstanbul 34870, Türkiye">
            </iframe>
            {% else %}
            <img src="{{ url_for('static', filename='images/fake-googlemaps.jpeg') }}" alt="map-image">
            {% endif %}
        </div>
        <div class="column contact-section">
            <div class="block">
                <h1 class="subtitle is-4">{{ _("Adres") }}</h1>
                <i class="fa-solid fa-location-dot"></i>
                AND Pastel T3 Blok K: 18 D:160
                Kartal / İstanbul 34870, Türkiye
            </div>
            <div class="block">
                <a href="tel:+902167064452">
                    <h1 class="subtitle is-4">{{ _("Telefon") }}</h1>
                    <i class="fa-solid fa-phone"></i>
                    +90 216 706 44 52
                </a>
            </div>
            <div class="block">
                <a href="mailto:info@hla-law.com">
                    <h1 class="subtitle is-4">{{ _("E-Posta") }}</h1>
                    <i class="fa-solid fa-envelope"></i>
                    info@hla-law.com
                </a>
            </div>
        </div>
    </div>

    <hr>

    <h1 class="subtitle is-4 has-text-centered">{{ _("Bize Ulaşın") }}</h1>
    <form action="{{ url_for('main_bp.send_mail') }}" method="post">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">{{ _("Adınız Soyadınız") }}</label>
                    <div class="control">
                        <input class="input" type="text" name="name_surname">
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ _("E-Posta Adresiniz") }}</label>
                    <div class="control">
                        <input class="input" type="email" value="" name="email" required>
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ _("Cep Telefonunuz") }}</label>
                    <div class="control">
                        <input class="input" type="text" name="phone" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input type="checkbox" required>
                            {{ _("Kişisel verilerimin <a href='/serve_document/privacy_policy_contact'>Aydınlatma
                                Metni</a>’nde açıklanan şart ve koşullarda
                            işlenmesini
                            kabul
                            ediyorum.") }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">{{ _("Talebiniz") }}</label>
                    <div class="control">
                        <textarea class="textarea" name="request" required></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <input class="button" type="submit" class="button is-link" value="{{ _('Gönder') }}">
            </div>
        </div>
    </form>
</div>
{% endblock %}
