{% extends "base.html" %}

{% block body %}
<img class="page-image" alt="page-image">

<div class="container section">
    <h1 class="is-size-3 is-size-4-mobile block">{{ new["title"] }}</h1>
    <div class="block">
        <span class="tag is-light are-medium">{{ new["tag"] }}</span> - {{ new["date"] }}
    </div>
    <div class="block">
        {{ new["content"]|safe }}
    </div>
</div>

<script>
    // Define the API endpoint for searching for images
    const API_ENDPOINT = "https://api.unsplash.com/photos/random";

    // Define the API key for accessing the Unsplash API
    const API_KEY = "{{ config.get('UNSPLASH_ACCESS_KEY') }}";

    // Define the search term to use when searching for images
    const SEARCH_TERM = "law";

    // Make a request to the Unsplash API to search for images
    fetch(`${API_ENDPOINT}?query=${SEARCH_TERM}&client_id=${API_KEY}`)
        .then(response => response.json())
        .then(data => {
            let imageUrl;
            console.log(data);
            if (data.errors && data.errors.length) {
                // If there was an error, just use a default image.
                imageUrl = "{{ url_for('static', filename='images/news.jpeg') }}";
            }
            else {
                // Get the first image URL from the search results
                imageUrl = data.urls.regular;
            }

            // Set the src attribute of the img element to the image URL
            const imgElement = document.querySelector(".page-image");
            imgElement.setAttribute("src", imageUrl);
        });
</script>
{% endblock %}
