{% extends "base.html" %}
{% set active_page = "news" %}

{% block title %}{{ _("Haberler & Yayınlar") }}{% endblock %}

{% block body %}
<img class="page-image" src="{{ url_for('static', filename='images/news.jpeg') }}" alt="page-image">

<div class="container section">
    <h1 class="subtitle is-3 has-text-centered">{{ _("Haberler & Yayınlar") }}</h1>
    <div class="columns">
        <div class="column">
            <h1 class="subtitle is-5">{{ _("Haberler") }}</h1>

            {% for new in news_data %}
            <article class="media">
                <figure class="media-left">
                    <p class="image is-64x64">
                        <img src="{{ url_for('static', filename='images/placeholder.jpg') }}" alt="news-image">
                    </p>
                </figure>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a href="{{ url_for('main_bp.new', new_id=new.id) }}">
                                {{ new["title"] }}
                            </a>
                            <br>
                            <span class="tag is-light">{{ new["tag"] }}</span> - {{ new["date"] }}
                        </p>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
        <div class="column">
            <h1 class="subtitle is-5">{{ _("Yayınlar") }}</h1>
        </div>
    </div>
</div>
{% endblock %}
