@import "http://fonts.cdnfonts.com/css/century-gothic";

// Set brand colors.
$darkred: #A00000;
$davysgrey: #2A2A2A;
$cadetblue: #51A3A3;
$persianorange: #CB904D;
$arylideyellow: #DFCC74;

// Update Bulma's global variables.
$family-sans-serif: "Century Gothic", sans-serif;
$primary: $darkred;
$scheme-main-bis: $davysgrey;
$navbar-item-hover-color: lightgray;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-color: lightgray;
$navbar-item-active-background-color: $primary;
$radius: none;

@import "../../../node_modules/bulma/bulma.sass";
@import "./mystyle.scss";
