@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "http://fonts.cdnfonts.com/css/century-gothic";

* {
    font-family: "Century Gothic", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body-content {
    flex-grow: 1;
    margin-bottom: 2rem;
}

video {
    width: 100vw;
    height: auto;
    max-height: 30rem;
    object-fit: cover;
    animation: fadeIn 1s;
}

.page-image {
    max-height: 40rem;
    width: 100vw;
    object-fit: cover;
    margin-bottom: 1rem;
    animation: fadeIn 1s ease-out;
}

#header-logo {
    height: 3.5rem;
}


.navbar-brand {
    .navbar-item {
        padding: 0;

        img {
            max-height: unset;
        }
    }
}

.navbar-start {
    a {
        border-radius: 0px !important;
        transition: all 0.5s ease-out;

        &:hover {
            color: white;
            background-color: darkred;
        }
    }

    .is-active {
        background-color: darkred !important;
        color: white !important;
    }

    .navbar-item {
        padding: 0.8rem;
    }
}

.footer {
    color: #999;
    background-color: #333333;

    img {
        filter: brightness(0.4);
    }
}

.icons-section {
    i {
        padding: 0 1rem;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            color: darkred;
            transform: scale(1.5);
        }
    }
}

a {
    color: darkred;

    &:hover {
        color: #333333;
    }
}

.footer a {
    color: #A11;

    &:hover {
        color: white;
    }
}

.fields {
    display: flex;

    p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 5rem;
        padding: 1rem;
        border-radius: 1rem;
        border: 2px solid transparent;
        transition: all .5s;
        cursor: pointer;

        span {
            margin-bottom: 1rem;
        }

        &:hover {
            border: 1px solid darkred;
        }
    }
}

.modal {
    animation: fadeIn 1s;
}

.modal-card-body p:not(:last-child) {
    margin-bottom: 1rem;
}

.card-image {
    overflow: hidden;
    cursor: pointer;
    background-color: darkred;
    animation: fadeIn 2s;

    figure {
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {
            opacity: .7;
        }
    }

}

#people1 {
    object-fit: cover;
    object-position: 60% 0%;
}

#people2 {
    transform: scale(1.3);
    object-fit: cover;
    object-position: 50% 50%;
}

#people3 {
    transform: scale(1.2);
    object-fit: cover;
    object-position: 48% 20%;
}

.button.is-link {
    background-color: #A11;
}

input[type=text],
.textarea,
input[type=email] {
    background-color: #FAFAFA;
}