@import url("https://fonts.cdnfonts.com/css/century-gothic");

// Set brand colors.
$darkred: #a00000;
$davysgrey: #2a2a2a;
$cadetblue: #51a3a3;
$persianorange: #cb904d;
$arylideyellow: #dfcc74;

// Update Bulma's global variables.
$family-sans-serif: "Century Gothic", sans-serif;
$primary: $darkred;
$scheme-main-bis: $davysgrey;
$navbar-item-hover-color: lightgray;
$navbar-item-hover-background-color: $primary;
$navbar-item-active-color: lightgray;
$navbar-item-active-background-color: $primary;
$button-color: white;
$button-background-color: $primary;
$radius: none;

@import "../../../node_modules/bulma/bulma.sass";
@import "./mystyle.scss";
