body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .body-content {
        flex-grow: 1;

        a {
            color: $primary;

            &:hover {
                color: $davysgrey;
            }
        }
    }

    .section {
        padding-top: 1rem;
        text-align: justify;
    }
}

.page-image {
    max-height: 25rem;
    width: 100vw;
    object-fit: cover;
    animation: fadeIn 1s $easing;
}

    .navbar {
        font-size: 1.2vw;

        .navbar-brand {
            align-items: center;

            img {
                height: 4.5vw;
                max-height: 5rem;

                @include touch {
                    height: 3rem;
                }
            }
        }

        .navbar-menu {
            @include touch {
                display: block;
                position: absolute;
                visibility: hidden;
                opacity: 0;
                width: 100%;
                transition: visibility .5s, opacity .5s;

                &.is-active {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .navbar-start {
            width: 100%;

            a {
                transition: all 0.3s $easing;
            }

            .navbar-item {
                padding: 1.2rem;
                justify-content: center;
                text-align: center;
                flex-grow: 1;

                &::after {
                    content: "";
                    height: 2rem;
                    position: absolute;
                    left: 100%;
                    border-right: 1px solid rgba($color: #000000, $alpha: .2);
                }
            }

            .languages {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: .5rem 1.5rem;
                a {
                    color: $primary;

                    &:hover {
                        color: $davysgrey;
                    }
                }
            }
        }

        @include touch {
            font-size: 1rem;
        }
    }

.footer {
    color: #aaa;
    padding: 3rem;

    a {
        color: $primary;

        &:hover {
            color: white;
        }
    }

    img {
        max-width: 15rem;
        margin-bottom: 1rem;
        filter: brightness(0.5);
        transition: filter 0.5s;

        &:hover {
            filter: brightness(0.8);
        }
    }

    .icons-section {
        span {
            color: #414141;
            padding: 0 1.5rem;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.5);
                color: $primary;
            }

            .fa-inverse {
                color: #C5C5C5;
            }
        }
    }
}

.fields {
    p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 5rem;
        padding: 1rem;
        border-radius: 1rem;
        border: 2px solid transparent;
        transition: all 0.5s;
        cursor: pointer;

        span {
            margin-bottom: 1rem;
        }

        &:hover {
            border: 0.1rem solid $primary;
        }
    }
}

.modal {
    animation: fadeIn 1s;

    .modal-card-body p:not(:last-child) {
        margin-bottom: 1rem;
    }

    .modal-card-head {
        border-radius: 0px;
    }

    .modal-card-title {
        flex-shrink: unset;
    }
}

.about-us-columns {
    .column {
        text-align: center;
        padding: 1rem;
        margin: 1rem;
    }
}

.team {
    .card {
        overflow: hidden;
        margin: 2vw;

        .card-image {
            cursor: pointer;
            background-color: $primary;
            animation: fadeIn 2s;


            figure {
                transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
                filter: grayscale(1);

                &:hover {
                    opacity: 0.9;
                    transform: scale(1.01);
                }
            }
        }

        @include mobile {
            width: 80vw;
            height: auto;
            margin: 0 auto;
        }
    }

    a {
        color: $davysgrey  !important;
    }
}

.resume {
    .member-name {
        color: $primary;
        margin-bottom: 0;
    }

    .member-title {
        font-style: italic;
        font-weight: 600;
        color: gray;
    }

    .member-city {
        color: darkgray;
    }

    .member-email {
        i {
            padding: 2rem 1rem 2rem 0;
        }
    }

    .member-foreign-language-label {
        font-weight: 800;
    }

    .member-foreign-language {
        font-style: italic;
        color: $davysgrey;
    }

    .member-social-media {
        margin-top: 3rem;

        i {
            color: #616161;
            cursor: pointer;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.5);
                color: $primary;
            }
        }
    }

    ul {
        margin-left: 1rem;
        list-style: none;

        li::before {
            content: "\2022";
            color: $primary;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }
    }

    .card-image {
        overflow: hidden;

        figure {
            background-color: $primary;
            animation: fadeIn 2s;

            img {
                transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    opacity: 0.9;
                    transform: scale(1.01);
                }
            }
        }

        @include mobile {
            width: 80vw;
            height: auto;
            margin: 0 auto;
        }
    }
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    #address {
        margin-bottom: unset;
    }
}
