{% extends "base.html" %}
{% set active_page = "about" %}

{% block body %}
<div class="container">
    <img src="{{ url_for('static', filename='images/about.png') }}" alt="about-image">
    <p class="block">{{ _("Helvacı Laik Aşar olarak, dinamik ve dijitalleşmeye uyum sağlamış profesyonel kadromuz ile
        ulusal ve
        uluslararası faaliyet gösteren yerli ve yabancı müvekkillerimiz için etkin, çözüm odaklı ve nitelikli hizmet
        vermekteyiz.") }}</p>
    <p class="block">
        {{ _("Bilişim ve internet teknolojileri hukuku başta olmak üzere; şirketler ve ticaret hukuku, sözleşmeler
        hukuku, iş ve sosyal güvenlik hukuku, fikri mülkiyet hukuku, gayrimenkul ve inşaat hukuku gibi birçok alanda
        müvekkillerimize danışmanlık hizmeti veriyor ve müvekkillerimizin kurumsallaşma süreçlerini yürütüyoruz. Bununla
        beraber, bireysel ve kurumsal müvekkillerimizi; dava, tahkim ve icra takibi süreçlerinde temsil ediyoruz.") }}
    </p>
    <p class="block">
        {{ _("Ayrıca ödeme hizmetleri, e-ticaret, eğitim teknolojileri, yeni nesil medya, internet teknolojileri, veri
        analizi ve güvenliği gibi birçok farklı sektörde faaliyet gösteren müvekkillerimizin finansal teknolojiler
        (fintek) hukuku, kişisel veri hukuku ve elektronik ticaret hukuku alanlarında mevzuata uyum süreçlerinin
        tamamlanmasında aktif rol oynuyoruz.") }}
    </p>
</div>
{% endblock %}