{% extends "base.html" %}
{% set active_page = "areas" %}

{% block body %}
<img class="page-image" src="{{ url_for('static', filename='images/areas.png') }}" alt="page-image">
<div class="container">
    <p class="subtitle is-3 has-text-centered">{{ _("Çalışma Alanlarımız") }}</p>

    <div class="columns is-multiline">
        {% for area in areas %}
        <div class="column is-4 fields">
            <p class="subtitle is-6 draw js-modal-trigger" data-target="modal-area-{{ area['id']}}">
                <span>{{ area["icon"]|safe }}</span>
                {{ area["name"] }}
            </p>
        </div>

        <div id="modal-area-{{ area['id'] }}" class="modal">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{ area["name"] }}</p>
                    <button class="delete" aria-label="close"></button>
                </header>
                <section class="modal-card-body">
                    {% for paragraph in area["paragraphs"] %}
                    <p>{{ paragraph }}</p>
                    {% endfor %}
                </section>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}