{% extends "base.html" %}
{% set active_page = "career" %}
{% set privacy_policy_doc = url_for("serve_document", doc_type="privacy_policy") %}

{% block body %}
<img class="page-image" src="{{ url_for('static', filename='images/career.jpeg') }}" alt="page-image" />

<div class="container">
    <h1 class="subtitle is-3 has-text-centered">{{ _("Kariyer") }}</h1>
    <p>
        {{ _("Helvacı Laik Aşar olarak; hukuk hizmeti vermenin ötesinde disiplinler
        üstü fikirler yaratarak daha iyi bir geleceği mümkün kılmak için kolektif
        bir şekilde düşünüyor, tecrübe ve bilgi birikimimizi birleştirerek
        çalışıyoruz. Bunun için de girişimcilik, kamu ve hukuk iş birliğine yönelik
        faaliyetler yürütüyor ve bu tarz faaliyetleri destekliyoruz.") }}
    </p>
    <p>
        {{ _("Daha iyi bir gelecek fikri için bizimle çalışan ekip arkadaşlarımızın
        da aynı felsefeye sahip olmasına önem veriyor ve onlarla beraber bu
        fikrimizi daha ileriye taşımak için çabalıyoruz.") }}
    </p>
    <p>
        {{ _("Müvekkillerimizin faaliyet gösterdikleri alanlara ilgi duyan, sektörel
        gelişmeleri yakından takip eden, dijitalleşmeye ve inovatif düşünmeye
        yatkın, disiplinler ve kurumlar arası iş birliği fikrine açık, kurum
        kültürümüze uyum sağlayabilecek avukat, stajyer avukat ve hukuk fakültesi
        öğrencileri ile bir arada çalışmaktan büyük bir memnuniyet duyacağız.") }}
    </p>
    <p>
        {{ _("İyi ve akıcı bir şekilde yazılı ve sözlü İngilizce dilini kullanma
        yeteneğine sahip adayların CV ve motivasyon mektuplarını info@hla-law.com
        adresimize göndermelerini rica etmekteyiz. ") }}
    </p>
    <br />
    <p>
        {{ _("Kişisel verilerinizin işlenmesi hakkında
        <a href='/serve_document/career_notice'>Çalışan Adayı ve Stajyer Adayı Aydınlatma Metni (Aydınlatma Metni)</a>
        için tıklayınız.") }}
    </p>
    <p>
        {{ _("Kişisel verilerimin tarafıma bildirilen
        <a href='/serve_document/privacy_policy'>Gizlilik ve Çerez Politikası'nda (Gizlilik Politikası)</a>
        açıklanan şart ve koşullarda işlenmesini kabul ediyorum.") }}
    </p>
</div>
{% endblock %}
