<footer class="footer">
    <div class="container has-text-centered">
        <div class="columns is-align-items-center">
            <div class="column is-one-third icons-section">
                <i class="fa-brands fa-linkedin fa-xl"></i>
                <i class="fa-solid fa-square-phone fa-xl"></i>
                <i class="fa-solid fa-square-envelope fa-xl"></i>
            </div>

            <div class="column is-one-third language-selector">
                <a href="/language/tr"></i>{{ _("Türkçe") }}</a> - <a href="/language/en"></i>{{ _("İngilizce") }}</a>
            </div>

            <div class="column is-one-third">
                <i class="fa-solid fa-location-dot"></i>
                <br>
                AND Pastel T3 Blok K: 18 D:160
                <br>
                Kartal / İstanbul 34870, Türkiye
            </div>
        </div>

        <hr>

        <div class="columns is-align-items-center">
            <div class="column is-one-third">
                <img id="footer-logo" src="{{ url_for('static', filename='images/footer-logo.svg') }}"
                    alt="footer-logo">
            </div>

            <div class="column is-one-third">
                <i class="fa-regular fa-copyright"></i> 2022 İstanbul
                <br>
                <a href="{{ url_for('serve_document', doc_type='legal_notice') }}">{{ _("Kullanım Koşulları") }}</a> -
                <a href="{{ url_for('serve_document', doc_type='privacy_policy') }}">{{ _("Gizlilik Politikası") }}</a>
            </div>

            <div class="column is-one-third">
                Ne idüğü belirsiz biri tarafından tasarlandı.
            </div>
        </div>
    </div>
</footer>