<footer class="footer">
    <div class="container has-text-centered">
        <div class="columns is-align-items-center">
            <div class="column is-one-third icons-section">
                <a href="https://www.linkedin.com/company/helvac%C4%B1-laik-a%C5%9Far/about/?viewAsMember=true">
                    <span class="fa-stack">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="tel:+902167064452">
                    <span class="fa-stack">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-phone fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="mailto:info@hla-law.com">
                    <span class="fa-stack">
                        <i class="fa-solid fa-circle fa-stack-2x"></i>
                        <i class="fa-solid fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>

            <div class="column is-one-third language-selector">
                <a href="/language/tr">Turkish</a> -
                <a href="/language/en">English</a>
            </div>

            <div class="column is-one-third">
                <i class="fa-solid fa-location-dot"></i>
                <br />
                AND Pastel T3 Blok K: 18 D:160
                <br />
                Kartal / İstanbul 34870, Türkiye
            </div>
        </div>

        <div class="hr-div"></div>

        <div class="columns is-align-items-center">
            <div class="column is-one-third">
                <img id="footer-logo" src="{{ url_for('static', filename='images/footer-logo.svg') }}"
                    alt="footer-logo" />
            </div>

            <div class="column is-one-third">
                <i class="fa-regular fa-copyright"></i> 2022 İstanbul
                <br />
                <a href="{{ url_for('serve_document', doc_type='legal_notice') }}">{{ _("Kullanım Koşulları") }}</a>
                -
                <a href="{{ url_for('serve_document', doc_type='privacy_policy') }}">{{ _("Gizlilik Politikası") }}</a>
            </div>

            <div class="column is-one-third">
                Ne idüğü belirsiz biri tarafından tasarlandı.
            </div>
        </div>
    </div>
</footer>
