{% set navigation_bar = [
("/", "homepage", _("Home")),
("/about", "about", _("About")),
("/areas", "areas", _("Fields")),
("/team", "team", _("Team")),
("/news", "news", _("News")),
("/career", "career", _("Career")),
("/contact", "contact", _("Contact")),
] %}
{% set active_page = active_page|default("homepage") %}

<header>
    <div class="container">
        <nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <img id="header-logo" src="{{ url_for('static', filename='images/header-logo.svg') }}"
                        alt="header-logo">
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    {% for href, id, caption in navigation_bar %}
                    <a href="{{ href|e }}" class="navbar-item {{ 'is-active' if id == active_page }}">{{ caption }}</a>
                    {% endfor %}
                </div>
            </div>
        </nav>
    </div>
</header>