<div class="container">
    <nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img id="header-logo" src="{{ url_for('static', filename='images/seffaf-mail-logosu.png') }}">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item is-active">
                    Anasayfa
                </a>

                <a class="navbar-item">
                    Hakkımızda
                </a>

                <a class="navbar-item">
                    Çalışma Alanlarımız
                </a>

                <a class="navbar-item">
                    Ekibimiz
                </a>

                <a class="navbar-item">
                    Haberler & Yayınlar
                </a>

                <a class="navbar-item">
                    Kariyer
                </a>

                <a class="navbar-item">
                    İletişim
                </a>
            </div>
        </div>
    </nav>
</div>