{% set navigation_bar = [
("/about", "about", _("Hakkımızda")),
("/areas", "areas", _("Çalışma Alanlarımız")),
("/team", "team", _("Ekibimiz")),
("/news", "news", _("Haberler & Yayınlar")),
("/career", "career", _("Kariyer")),
("/contact", "contact", _("İletişim")),
] %}

<header>
    <nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <span class="navbar-item">
                <a href="{{ url_for('homepage') }}"><img
                        src="{{ url_for('static', filename='images/header-logo.svg') }}" alt="header-logo" /></a>
            </span>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasic">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasic" class="navbar-menu">
            <div class="navbar-start">
                {% for href, id, caption in navigation_bar %}
                <a href="{{ href|e }}" class="navbar-item {{ 'is-active' if id == active_page }}">{{ caption }}</a>
                {% endfor %}
                <span class="languages">
                    <a href="/language/en">EN</a>
                    <a href="/language/tr">TR</a>
                </span>
            </div>
        </div>
    </nav>
</header>
