{% extends "base.html" %}

{% block body %}
LEGAL NOTICE
This Legal Notice has been prepared for individual (the “User”), who enters the website named www.hla-law.com and the
related websites (the “Website”) managed by Helvacı Laik Aşar Attorneys at Law (“Helvacı Laik Aşar”).
The User is deemed to have accepted the matters stated in this Legal Notice while using the Website. The Website should
not be used, If the stated matters are not accepted by the User.
Information shared by Helvacı Laik Aşar on the Website has been prepared for only informational purposes and should not
be used as a legal advice in anyway. Information on the Website, depending on the changes in the legislation, may become
out of date, and may not reflect the latest version of the legal developments in force and the up-to-dateness of the
information is not guaranteed. Therefore, Helvacı Laik Aşar does not accept any responsibility for damages caused by the
use of the Website and highly recommend you to apply to the authorities for legal consultancy before taking any action
by using the information on the Website.
In order to establish an attorney-client relationship with Helvacı Laik Aşar, a clear and written proposal or
invitation, and a clear and written notification of their acceptance are required. Accessing and using the content
published on the Website, communicating with Helvacı Laik Aşar on the Website and subscribing to the newsletter do not
constitute an attorney-client relationship without a clear and written agreement or contract.
Helvacı Laik Aşar owns all property rights and usage rights for the Website and written information, documents,
bulletins and similar publication activities on the Website. All written information and documents and visual materials
within the intellectual property right cannot be used, reproduced or published without the written permission of Helvacı
Laik Aşar. The Website cannot be used for business or other similar gains and/or advertising purposes.
Helvacı Laik Aşar has the right to make changes, stop publication and update the Legal Notice and the Website at any
time.
{% endblock %}