{% extends "base.html" %}
{% set active_page = "team" %}

{% block body %}
<div class="container section resume">
    <div class="columns">
        <div class="column is-3">
            <div class="card-image">
                <figure class="image is-3by4">
                    <img src="{{ member['img'] }}" alt="member-image" />
                </figure>
            </div>
        </div>
        <div class="column is-9 member-info-section">
            <p class="member-name subtitle is-3">{{ member["name"] }}</p>
            <p class="member-title">{{ member["title"] }}</p>
            <p class="member-email"><i class="fa-solid fa-envelope"></i>{{ member["email"] }}</p>
            <p class="member-foreign-language-label">{{ _("Yabancı Dil") }}</p>
            <p class="member-foreign-language">{{ member["foreign-language"] }}</p>
            <p class="member-social-media">
                <a target="_blank" href="{{ member['linkedin-url'] }}">
                    <i class="fab fa-linkedin fa-2xl"></i>
                </a>
            </p>
        </div>
    </div>

    <hr>

    <div class="block">
        <h1 class="subtitle is-4">{{ _("Çalışma Alanları") }}</h1>
        <ul>
            {% for area in member["areas"] %}
            <li>{{ area }}</li>
            {% endfor %}
        </ul>
    </div>

    <hr>

    <div class="block">
        <h1 class="subtitle is-4">{{ _("Biyografi") }}</h1>
        {% for section in member["biography"] %}
        <p class="block">{{ section }}</p>
        {% endfor %}
    </div>

    <hr>

    <div class="block">
        <h1 class="subtitle is-4">{{ _("Eğitim") }}</h1>
        <ul>
            {% for education in member["education"] %}
            <li>{{ education }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
