{% extends "base.html" %}
{% set active_page = "team" %}

{% block body %}
<img class="page-image" src="{{ url_for('static', filename='images/team.png') }}" alt="page-image" />

<div class="container">
    <h1 class="subtitle is-3 has-text-centered">{{ _("Ekibimiz") }}</h1>
    <div class="columns team">
        {% for member in team %}
        <div class="column is-one-third">
            <div class="card">
                <a href="{{ member['url'] }}">
                    <div class="card-image">
                        <figure class="image is-4by5">
                            <img id="member{{ member.id }}" src="{{ member['img'] }}" alt="member-image" />
                        </figure>
                    </div>
                    <div class="card-content">
                        <p>{{ member["name"] }}</p>
                        <i>{{ member["title"] }}</i>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
