{% extends "base.html" %}
{% set active_page = "team" %}

{% block body %}
<div class="container">
    <img src="{{ url_for('static', filename='images/team.png') }}" alt="team-image">

    <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-2by3">
                        <img class="people" src="{{ url_for('static', filename='images/MMH.jpeg') }}" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <p>Av. Muhammed M. Helvacı</p>
                    <i>İstanbul, Kurucu Avukat</i>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-2by3">
                        <img class="people" src="{{ url_for('static', filename='images/MTL.jpeg') }}" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <p>Av. Mustafa Tayfun Laik</p>
                    <i>İstanbul, Kurucu Avukat</i>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-2by3">
                        <img class="people" src="{{ url_for('static', filename='images/DA.jpeg') }}" alt="">
                    </figure>
                </div>
                <div class="card-content">
                    <p>Av. Doğukan Aşar</p>
                    <i>İstanbul, Kurucu Avukat</i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}