{% extends "base.html" %}
{% set active_page = "team" %}

{% block body %}
<img class="page-image" src="{{ url_for('static', filename='images/team.png') }}" alt="page-image" />

<div class="container">
    <h1 class="subtitle is-3 has-text-centered">{{ _("Ekibimiz") }}</h1>
    <div class="columns">
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by5">
                        <img id="people1" src="{{ url_for('static', filename='images/MMH.jpeg') }}" alt="" />
                    </figure>
                </div>
                <div class="card-content">
                    <p>Av. Muhammed M. Helvacı</p>
                    <i>İstanbul, Kurucu Avukat</i>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by5">
                        <img id="people2" src="{{ url_for('static', filename='images/MTL.jpeg') }}" alt="" />
                    </figure>
                </div>
                <div class="card-content">
                    <p>Av. Mustafa Tayfun Laik</p>
                    <i>İstanbul, Kurucu Avukat</i>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by5">
                        <img id="people3" src="{{ url_for('static', filename='images/DA.jpeg') }}" alt="" />
                    </figure>
                </div>
                <div class="card-content">
                    <p>Av. Doğukan Aşar</p>
                    <i>İstanbul, Kurucu Avukat</i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
